.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review {
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 16px;
}

.person {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  color: #829b91;
  font-size: 24px;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 50%;
}

.name {
  margin: 0 0 4px;
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.rating {
  display: flex;
  gap: 4px;
}

.rating svg {
  width: 16px;
  height: 16px;
}

.activeStar {
  color: #ffc531;
}

.inactiveStar {
  color: #dadde1;
}

.comment {
  margin: 16px 0 0;
  color: #475467;
  font-size: 16px;
  line-height: 24px;
}

.message {
  margin: 0;
  color: #475467;
}
