.panel {
  flex-shrink: 0;
  width: 360px;
  padding: 24px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.locationLabel {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  color: #6c717b;
  font-size: 16px;
  line-height: 24px;
}

.inputWrapper {
  position: relative;
  display: block;
}

.locationIcon {
  position: absolute;
  top: 50%;
  left: 18px;
  width: 20px;
  height: 20px;
  color: #101828;
  transform: translateY(-50%);
  pointer-events: none;
}

.locationInput {
  width: 100%;
  height: 56px;
  padding: 0 20px 0 48px;
  color: #101828;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
  transition: border-color 200ms ease;
  font-size: 16px;
}

.locationInput::placeholder {
  color: #6c717b;
  font-size: 16px;
}

.locationInput:hover {
  border-color: #dadde1;
}

.locationInput:focus {
  border-color: #829b91;
}

.title {
  margin: 32px 0 24px;
  color: #101828;
  font-size: 20px;
  font-weight: 600;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 24px;
  padding: 0;
  border: 0;
}

.legend {
  margin-bottom: 0;
  color: #6c717b;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 8px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #101828;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.radioLabel input {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin: 0;

  appearance: none;
  background-color: #ffffff;
  border: 1px solid #475467;
  border-radius: 50%;

  cursor: pointer;
}

.radioLabel input:focus-visible {
  outline: 2px solid #829b91;
  outline-offset: 2px;
}

.radioLabel input:checked {
  background-image: radial-gradient(circle, #475467 0 7px, #ffffff 7px);
}

.radioLabel:hover input {
  border-color: #829b91;
}

.searchButton,
.clearButton {
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 200px;
  cursor: pointer;
  transition:
    color 200ms ease,
    background-color 200ms ease,
    border-color 200ms ease;
}

.searchButton {
  margin-top: 24px;
  color: #ffffff;
  background-color: #829b91;
  border: 0;
}

.searchButton:hover {
  background-color: #6d7b75;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
  color: #101828;
  background-color: #ffffff;
  border: 1px solid #dadde1;
}

.clearButton:hover {
  color: #101828;
  border-color: #829b91;
}

.searchButton:focus-visible,
.clearButton:focus-visible {
  outline: 2px solid #101828;
  outline-offset: 3px;
}

.clearButton svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
