.page {
  display: flex;
  min-height: calc(100vh - 72px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 64px;
  text-align: center;
}

.title {
  margin: 0;
  color: #101828;
  font-size: 32px;
}

.text {
  margin: 0;
  color: #475467;
  font-size: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 56px;
  margin-top: 16px;
  color: #ffffff;
  font-weight: 500;
  background-color: #829b91;
  border-radius: 200px;
}

.link:hover {
  background-color: #6d7b75;
}
